
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left{
    background: #F2F2F2;
    width: 46vw;
    height: 85vh;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top:10px ;

}
.reg-head{
    color: rgb(0, 0, 120);
    font-size: 2vw;
    padding-left: 10vw;
    margin-top: 2vh;
}
.inputs{
    justify-content: center;
    align-items: center;
}
.inputs input{
    width: 40vw;
    height: 5vh;
    /* margin: 20px; */
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 15px;
    border: 0.5px solid #4CAF4F;
    border-radius: 30px;
    /* background: #ffffff; */
    padding: 10px;
    padding-left: 20px;
    font-size: 14px;
    /* color: #4CAF4F; */
    font-weight: 500;
    outline: none;

}



.btn {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    /* align-items: end; */
    margin-bottom: 20px;
}



.btn-sub{
    background-color: #4CAF4F;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    width: 100px;
    height: 50px;
}

.btn-sub:hover{
    transform: scale(1.1);
    box-shadow: 0 5px 15px #4CAF4F;
    border: #4CAF4F;
}

.can-btn{
    background-color: #ff0000;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    width: 100px;
    height: 50px;
}


.can-btn:hover{
    transform: scale(1.1);
    box-shadow: 0 5px 15px #ff0000;
    border: #ff0000;
}

.right{

    background: #F2F2F2;
    width: 50vw;
    height: 85vh;
    margin-top: 10px;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.image img {
    width: 45vw;
    height: 45vh;
    margin-left: 3vh;
    margin-top: 2vh;
}

.login-btn {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    /* align-items: end; */
    margin-bottom: 20px;
}



.login-btn-sub{
    background-color: #4CAF4F;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    width: 100px;
    height: 50px;
}

.login-btn-sub:hover{
    transform: scale(1.1);
    box-shadow: 0 5px 15px #4CAF4F;
    border: #4CAF4F;
}

.login-can-btn{
    background-color: #ff0000;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    width: 100px;
    height: 50px;
}


.login-can-btn:hover{
    transform: scale(1.1);
    box-shadow: 0 5px 15px #ff0000;
    border: #ff0000;
}

.login-inputs input{
    width: 40vw;
    height: 5vh;
    /* margin: 20px; */
    margin-left: 3vw;
    margin-right: 2vw;
    margin-bottom: 15px;
    border: 0.5px solid #4CAF4F;
    border-radius: 30px;
    /* background: #ffffff; */
    padding: 10px;
    padding-left: 20px;
    font-size: 14px;
    /* color: #4CAF4F; */
    font-weight: 500;
    outline: none;

}

.login h1{
    color: rgb(0, 0, 120);
    font-size: 3vw;
    margin: 1vh;
    padding-left: 20vw;
}